* {
  box-sizing: border-box;
  font-family: 'Google Sans', Arial;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.top-nav {
  display: flex;
  justify-content: center;
  gap: 48px;
  padding: 16px 0px;
  background-color: #F5F5F5;
}

a {
  text-decoration: none;
  color: #000;
}

a:visited {
  color: #000;
}

main {
  display: flex;
  flex-direction: column;
}

.hero {
  display: flex;
  gap: 82px;
  padding: 0px 200px;
}

.hero-details {
  width: 50%;
  padding-top: 48px;
}

.hero-greeting {
  font-size: 48px;
}

.hero-about {
  font-size: 24px;
}

#hero-hiking-pic {
  width: 300px;
}

.hero h2 {
  backdrop-filter: blur(2px);
  padding: 12px 24px;
}

.languages {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F5F5F5;
  padding-top: 12px;
}

.language-logos {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 64px;
  padding: 24px;
}

.language-logo {
  width: 50px;
}

@media screen and (max-width: 700px) {
  .hero {
    flex-direction: column;
    align-items: center;
    padding: 0px;
  }

  #hero-hiking-pic {
    display: none;
  }

  .language-logos {
    flex-direction: column;
    align-items: center;
  }
}