* {
  box-sizing: border-box;
  font-family: 'Google Sans', Arial;
  padding: 0;
  margin: 0;
}

.top-nav {
  display: flex;
  padding: 16px 48px;
  background-color: #F5F5F5;
}

a {
  text-decoration: none;
}

a:visited {
  color: #000;
}

main > h1 {
  text-align: center;
  padding: 24px;
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
}

.project {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project > h2 {
  margin-bottom: 16px;
}

.project > div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 300px;
  background-color: #F5F5F5;
}